.Play {
  width: 100%;
  height: 100%;
  position: relative;
}
.Play .lyric {
  width: 163px;
  height: 88px;
  position: absolute;
  top: 392px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Play .lyric .lyric_song {
  height: 17px;
  text-align: center;
  line-height: 17px;
}
.Play .lyric .lyric_song .songname {
  font-size: 17px;
  color: white;
}
.Play .lyric .lyric_song .singer {
  font-size: 13px;
  color: #ccc;
}
.Play .lyric .lyric_main {
  height: 46px;
  overflow: hidden;
}
.Play .lyric .lyric_main .Music_list li {
  text-align: center;
}
.Play .lyric .lyric_main .Music_list .white {
  color: white !important;
}
.Play .imgbox {
  width: 100%;
  height: 100%;
}
.Play i {
  position: absolute;
  top: 194px;
  left: 50%;
  transform: translateX(-48%);
  font-size: 40px;
  color: white;
  z-index: 4;
}
.Play .opc {
  opacity: 0;
}
.Play .dic {
  width: 91px;
  height: 133px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
}
.Play .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.Play .circle {
  width: 296px;
  height: 296px;
  background: url(../../img/disc-plus.png);
  background-size: contain;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  animation: donghua 20s linear infinite;
}
.Play .circle.paused {
  -webkit-animation-play-state: paused;
}
.Play .circle .circle_pic {
  width: 163px;
  height: 163px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Play .circle .circle_pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@keyframes donghua {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
